@model KonfiguratorViewModel
@using KFZKonfigurator.Binding
@using KFZKonfigurator.Binding.Enum
@using KFZKonfigurator.Models
@using KFZKonfigurator.Resources
@inherits AbstractKnockoutBinderView<KonfiguratorViewModel>

<p>Konfigurator page</p>

@using (var binder = NewKnockoutBinder(Model))
{
    @binder.Bind(_ => _.Email).ToTextbox().Type(TextboxType.Email).Placeholder(KonfiguratorResx.Placeholder_Email).Label(KonfiguratorResx.Label_Email).Build()
}